{% extends "header.html" %} {% block content %}
<div>
    <div class="bg-image" style="background-image: url(/static/images/BodyBackground.jpg)"></div>
    <div class="content" style="width: 300px;top: 430px;">
        <div class="supplementsList">
            <h1 class="listTitle">Edit Product</h1>
            <form action="{{url_for('editProduct', supplement_id=supplement_id, product_id=product.id)}}" method='POST'>
                <p>Name:</p>
                <input type='text' size='40' maxlength="50" placeholder="{{product.name}}" value="{{product.name}}" name='name' required>
                <p>Price:</p>
                <input type='number' size='10' maxlength="5" step=".01" placeholder="{{product.price}}" value="{{product.price}}" name='price' required>
                <p>Manufacturer:</p>
                <input type='text' size='40' maxlength="50" placeholder="{{product.manufacturer}}" value="{{product.manufacturer}}" name='manufacturer'>
                <p>Youtube Video URL:</p>
                <input type='url' size='40' maxlength="240" placeholder="{{product.videoURL}}" value="{{product.videoURL}}" name='videoURL' required>
                <p>Description:</p>
                <textarea style="overflow:auto;resize:none; width: 306px; height: 100px;" maxlength="240" name="description" required>{{product.description}}</textarea>
                <br/>
                <br/>
                <input type='submit' value='Edit'>
            </form>

        </div>

    </div>
</div>

{% endblock %}